/* ===== Reset + Base Styles ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color palette */
:root {
  --blue:        #0077cc;
  --navy:        #003f5c;
  --green:       #00b26f;
  --red:         #d62828;
  --light-gray:  #b4b4b4;
  --med-gray:    #b0afaf;
  --white:       #ffffff;
  --dark-text:   #222222;
  --muted-text:  #010000;
  --highlight:   #ffc107;
}

html, body {
  font-family: 'Lato', 'Arial', sans-serif;
  background-color: #fdfdfd;
  color: var(--dark-text);
  line-height: 1.6;
  height: 100%;
  overflow-x: hidden;
}

a {
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 20px;
	color: var(--muted-text);
	background: none;
	margin: 10px;
	padding: 8px;
	border-radius: 10px;
	cursor: pointer;
	text-decoration: none;
	transition: 0.3s;
}

/* ===== Layout ===== */
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* ===== Narrative Sections ===== */
.step {
  position: relative;
  padding: 40px;
  transition: background-color 0.3s ease;
}

.step.active {
  background-color: var(--light-gray);
}

a:hover {
	background-color: var(--blue); 
	color: var(--white);
	transition: 0.3s;
}

.strategy-buttons {
	width: 832px;
}

.frame-toggle {
	display: flex;
  	justify-content: center;
}

.gradient-legend {
	margin: 20px;
	border-radius: 5px;
	width: 300px;
	background: linear-gradient(to right, #4F7A46 0%, #ffffff 50%, #9B356C 100%);
	color: #ffffff;
}